*{margin: 0;padding: 0;box-sizing: border-box;}
body{background-color: #f5f5f5;}
.my_header,.my_footer{width: 100%;}
@media (min-width:576px) {
	.my_header{height: 12rem;}
	.my_footer{height: 35rem;}
}
@media (min-width:992px) {
	.my_header{height: 6rem;}
	.my_footer{height: 25rem;}
} 
.my_header{
	position: fixed;
	z-index: 1000;
}
.my_footer{
	position: fixed;
	z-index: 1000;
	bottom: 0;
}
.container::before,.container::after{
	content:"" ;
	display: block;
	width: 100%;height: 70px;
}
.my_header,.my_footer{
	width: 100%;
	height: 60px;
	text-align: center;
	color: #FFFF00;
	font-size: 20px;
	font-family: "arial rounded mt bold";
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.my_footer,.my_header{background-image: linear-gradient(45deg,#e97120 ,#fd7e14 100%);}
.my_bg{background-color:  #FFFAE8;}
.litter-person{
	position: fixed;
	bottom: 65px;
	right: 0;
}
.org{color: orangered;}
.top_border{border-top: 2px solid #e97120;}
.bt_border{border-top: 2px solid #e97120;}
.green_span{
	font-size: 14px;
	display: inline-block;
	padding: 0 7px;
	color: #68b338;
	border: 1px solid #68b338;
}
.blue_span{
	font-size: 14px;
	display: inline-block;
	padding: 0 7px;
	color: #11a6ec;
	border: 1px solid #11a6ec;
}
.org_bg_span{
	background-color: #fff0e5;
	color: #fc8766;
	font-size: 14px;
	display: inline-block;
	padding: 0 7px;
}
.yellow_bg_span{
	background-color: #fef2d6;
	color: #caa456;
	font-size: 14px;
	display: inline-block;
	padding: 0 7px;
}
.blue_bg_span{
	font-size: 14px;
	display: inline-block;
	padding: 0 7px;
	background-color: #ecf3ff;
  color: #5baeff;
}